In [41]:
import numpy as np
import pandas as pd
import re #searching text regular expression for searching text
from nltk .corpus import stopwords#main content of the text nltk is natural language
from nltk.stem.porter import PorterStemmer#stem is takes the words and remove prefix and suffix of the word gives root word
from sklearn.feature_extraction.text import TfidfVectorizer #features into numbers
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
import nltk
nltk.download('stopwords')

[nltk_data] Error loading stopwords: <urlopen error [WinError 10060] A
[nltk_data]     connection attempt failed because the connected party
[nltk_data]     did not properly respond after a period of time, or
[nltk_data]     established connection failed because connected host
[nltk_data]     has failed to respond>

False

In [3]:
print(stopwords.words('english'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [6]:
news_dataset = pd.read_csv('WELFake_Dataset.csv')

In [7]:
news_dataset.shape

(72134, 4)

In [8]:
news_dataset.head()

,Unnamed: 0,title,text,label
0,0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,1,NaN,Did they post their votes for Hillary already?,1
2,2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [9]:
#missing values
news_dataset.isnull().sum()

Unnamed: 0      0
title         558
text           39
label           0
dtype: int64

In [10]:
#replace null values
news_dataset=news_dataset.fillna('')

In [19]:
#merging the author and title
news_dataset['content'] =' '+news_dataset['title']

In [21]:
print(news_dataset['content'])

0         LAW ENFORCEMENT ON HIGH ALERT Following Threa...
1
2         UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS M...
3         Bobby Jindal, raised Hindu, uses story of Chr...
4         SATAN 2: Russia unvelis an image of its terri...
                               ...
72129     Russians steal research on Trump in hack of U...
72130      WATCH: Giuliani Demands That Democrats Apolo...
72131     Migrants Refuse To Leave Train At Refugee Cam...
72132     Trump tussle gives unpopular Mexican leader m...
72133     Goldman Sachs Endorses Hillary Clinton For Pr...
Name: content, Length: 72134, dtype: object

In [22]:
x = news_dataset.drop(columns='label',axis =1)
y =news_dataset['label']

In [14]:
print(x)

       Unnamed: 0                                              title  \
0               0  LAW ENFORCEMENT ON HIGH ALERT Following Threat...
1               1
2               2  UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...
3               3  Bobby Jindal, raised Hindu, uses story of Chri...
4               4  SATAN 2: Russia unvelis an image of its terrif...
...           ...                                                ...
72129       72129  Russians steal research on Trump in hack of U....
72130       72130   WATCH: Giuliani Demands That Democrats Apolog...
72131       72131  Migrants Refuse To Leave Train At Refugee Camp...
72132       72132  Trump tussle gives unpopular Mexican leader mu...
72133       72133  Goldman Sachs Endorses Hillary Clinton For Pre...

                                                    text  \
0      No comment is expected from Barack Obama Membe...
1         Did they post their votes for Hillary already?
2       Now, most of the demonstrators gathered last ...
3      A dozen politically active pastors came here f...
4      The RS-28 Sarmat missile, dubbed Satan 2, will...
...                                                  ...
72129  WASHINGTON (Reuters) - Hackers believed to be ...
72130  You know, because in fantasyland Republicans n...
72131  Migrants Refuse To Leave Train At Refugee Camp...
72132  MEXICO CITY (Reuters) - Donald Trump’s combati...
72133  Goldman Sachs Endorses Hillary Clinton For Pre...

                                                 content
0      No comment is expected from Barack Obama Membe...
1        Did they post their votes for Hillary already?
2       Now, most of the demonstrators gathered last ...
3      A dozen politically active pastors came here f...
4      The RS-28 Sarmat missile, dubbed Satan 2, will...
...                                                  ...
72129  WASHINGTON (Reuters) - Hackers believed to be ...
72130  You know, because in fantasyland Republicans n...
72131  Migrants Refuse To Leave Train At Refugee Camp...
72132  MEXICO CITY (Reuters) - Donald Trump’s combati...
72133  Goldman Sachs Endorses Hillary Clinton For Pre...

[72134 rows x 4 columns]

In [23]:
print(y)

0        1
1        1
2        1
3        0
4        1
        ..
72129    0
72130    1
72131    0
72132    0
72133    1
Name: label, Length: 72134, dtype: int64

In [24]:
#stemming process of redcuing a word to its root word
port_stem = PorterStemmer()

In [25]:
def stemming(content):
    stemmed_content = re.sub('[^a-zA-Z]',' ',content)
    stemmed_content = stemmed_content.lower()
    stemmed_content = stemmed_content.split()
    stemmed_content = [port_stem.stem(word) for word in stemmed_content if not word in stopwords.words('english')]
    stemmed_content = ' '.join(stemmed_content)
    return stemmed_content

In [27]:
news_dataset['content'] = news_dataset['content'].apply(stemming)

In [28]:
print(news_dataset['content'])

0        law enforc high alert follow threat cop white ...
1
2        unbeliev obama attorney gener say charlott rio...
3        bobbi jindal rai hindu use stori christian con...
4        satan russia unv imag terrifi new supernuk wes...
                               ...
72129    russian steal research trump hack u democrat p...
72130    watch giuliani demand democrat apolog trump ra...
72131           migrant refu leav train refug camp hungari
72132    trump tussl give unpopular mexican leader much...
72133            goldman sach endor hillari clinton presid
Name: content, Length: 72134, dtype: object

In [29]:
#separating the data and label
X = news_dataset['content'].values
Y = news_dataset['label'].values

In [30]:
print(X)

['law enforc high alert follow threat cop white blacklivesmatt fyf terrorist video'
 ''
 'unbeliev obama attorney gener say charlott rioter peac protest home state north carolina video'
 ... 'migrant refu leav train refug camp hungari'
 'trump tussl give unpopular mexican leader much need shot arm'
 'goldman sach endor hillari clinton presid']

In [31]:
print(Y)

[1 1 1 ... 0 0 1]

In [35]:
print(X)

  (0, 18925)	0.19134939529376566
  (0, 18470)	0.1297506867782943
  (0, 17194)	0.2542650376115143
  (0, 17091)	0.24871262252022117
  (0, 9594)	0.22829788917209384
  (0, 7796)	0.26746434949988324
  (0, 6647)	0.48553136502134386
  (0, 6343)	0.28932771754845743
  (0, 5446)	0.31820565801047196
  (0, 3639)	0.24871262252022117
  (0, 1783)	0.33473541566384035
  (0, 402)	0.3190180925014663
  (2, 18470)	0.13443733492985524
  (2, 17862)	0.35962437110547785
  (2, 16284)	0.1999703023632961
  (2, 14935)	0.1609967301122813
  (2, 14434)	0.3580030298678158
  (2, 13446)	0.22687620695463123
  (2, 12612)	0.27904818164471595
  (2, 11892)	0.16878852994653004
  (2, 11748)	0.2231406266784195
  (2, 7928)	0.2692285294185893
  (2, 6797)	0.2652283770602196
  (2, 2895)	0.3639616996972358
  (2, 2651)	0.30809679188606154
  :	:
  (72130, 1749)	0.4930570872695346
  (72130, 755)	0.3981687060056149
  (72131, 17447)	0.3977823726603013
  (72131, 14032)	0.3211557126073331
  (72131, 14030)	0.35376168075989517
  (72131, 10823)	0.3556253840395198
  (72131, 9646)	0.3388191486737198
  (72131, 8114)	0.46315159932281463
  (72131, 2546)	0.39711916630884203
  (72132, 18090)	0.417810680338284
  (72132, 17734)	0.4674560433180039
  (72132, 17607)	0.10874560860578947
  (72132, 15471)	0.30543362821165165
  (72132, 11504)	0.2703806807329965
  (72132, 11237)	0.32005174915301016
  (72132, 10761)	0.3272655004229104
  (72132, 9626)	0.24522811865098657
  (72132, 6919)	0.2582870894160619
  (72132, 860)	0.3038308430269035
  (72133, 14744)	0.5564797464281291
  (72133, 13286)	0.28994858785444677
  (72133, 7813)	0.2573196287861108
  (72133, 7018)	0.5410456407507163
  (72133, 5436)	0.4225142226083032
  (72133, 3216)	0.26229384891038426

In [32]:
Y.shape

(72134,)

In [ ]:
# converting the textual data to numerical data
vectorizer = TfidfVectorizer()
vectorizer.fit(X)

X = vectorizer.transform(X)

In [36]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify=Y, random_state=2)

In [42]:
model = LogisticRegression()

In [43]:
model.fit(X_train, Y_train)

LogisticRegression()

In [49]:
# accuracy score on the training data
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [45]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.9195591522692221

In [46]:
# accuracy score on the test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [47]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.9016427531711374

In [48]:
X_new = X_test[3]

prediction = model.predict(X_new)
print(prediction)

if (prediction[0]==0):
  print('The news is Real')
else:
  print('The news is Fake')

[0]
The news is Real

In [50]:
print(Y_test[3])

0